<ifModule mod_rewrite.c>
    # Activar rewrite engine
    RewriteEngine on
    Options -Indexes
    RewriteCond %{SCRIPT_FILENAME} !-d 
    RewriteCond %{SCRIPT_FILENAME} !-f 
    
    # Regla para contenido/verContenido
    RewriteRule ^ver/([a-zA-Z0-9-]+)$ index.php?controller=contenido&action=verContenido&slug=$1 [QSA,L]
    
    # Regla index
    RewriteRule ^([^/]+)/([^/]+)$ index.php?controller=$1&action=$2 [QSA,L]

</ifModule>