:root {
    --fuente-color: #fff;
    --bg-color: #333;
}

/* ----------------------- 
   General 
----------------------- */
html, body {
    overflow-x: hidden; /* Evitar el desbordamiento horizontal */
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* ----------------------- 
   Header 
----------------------- */
header {
    background-color: var(--bg-color);
    color: var(--fuente-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .5);
}

.header-image {
    width: 100%;
    height: 50px;
    object-fit: cover;
}

/* ----------------------- 
   Main 
----------------------- */
main {
    margin-top: 70px;
    flex: 1;
    background-color: lightgrey;
}

/* ----------------------- 
   Navigation 
----------------------- */
.navbar-content {
    width: 80%;
    margin: 0 auto;
}

.nav-item {
    margin-right: 10px;
}

.navbar-nav .nav-link {
    color: var(--fuente-color);
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.navbar-nav .nav-link:hover {
    color: var(--fuente-color);
    background-color: #444;
    transition: 0.3s;
}

.user-icon a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.user-icon a div {
    font-size: 2.2rem;
    text-decoration: none;
    color: #fff;
}

.login , .register {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.login p , .register p {
    margin: 0;
    height: auto;
    display: flex;
    align-items: center;
}

.buscador {
    display: flex;
    align-items: center;
}

/* ----------------------- 
   Search 
----------------------- */
.search-container {
    width: 100%;
    border-radius: 5px;
}

#registro, #iniciar-sesion {
    color: var(--fuente-color);
}

.slick-track{
    display: flex;
}

.slick-track div{
    height: 80%;
}

/* ----------------------- 
   Card Inicio 
----------------------- */

.slider-container .card {
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s;
    margin-left: 10px;
    margin-right: 10px;
}

.slider-container .card:hover {
    transform: scale(1.05);
}

.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
    text-align: center;
    background-color: #f8f9fa;
}

.card-title {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #333;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .slider-container .card {
        width: 150px;
    }

    .card-img-top {
        height: 200px;
    }
}

@media (min-width: 1024px) {
    .slider-container {
        justify-content: space-around;
    }
}

/* ----------------------- 
   Card 
----------------------- */
.peliculas, .series, .cortos, .documentales {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.ver-mas-container {
    display: flex;
    justify-content: flex-end;  
    margin-top: 10px;
}

.ver-mas {
    padding: 10px;
    width: 150px;
    margin-right: 10px;
    border-radius: 50px;
    color: var(--fuente-color);
    border: none;
    background-color: #007bff;
    transition: background-color 0.3s;
}

.ver-mas:hover {
    background-color: #0056b3;
}

.card:hover {
    transform: scale(1.05);
    transition: transform .5s;
}

.card-img {
    width: 100%;
    height: 300px;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.card-title {
    color: #000;
    font-size: 15px;
    text-align: center;
    box-sizing: border-box;
}

.favorito {
    position: absolute;
    right: 0;
    padding: 10px;
    z-index: 900;
}


.favorito .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    color: #fff;
    font-size: 35px;
    transition: color 0.3s ease;
}

.favorito.clicked .material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    color: red;
    font-size: 35px;
    transition: color 0.3s ease;
}

/* Estilo cuando se hace hover (corazón relleno) */
.favorito .material-symbols-outlined:hover {
    color: red;
}

/* ----------------------- 
   Forms 
----------------------- */
.container-iniciar-sesion, .container-register, .container-datos {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.formulario-iniciar-sesion, .formulario-register, .datos {
    background-color: var(--bg-color);
    color: var(--fuente-color);
    width: 100%;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.formulario-register p, .formulario-iniciar-sesion p, .datos p {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.formulario-iniciar-sesion input, .formulario-register input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.formulario-iniciar-sesion input:focus, .formulario-register input:focus {
    border-color: #555;
}

.formulario-iniciar-sesion button, .formulario-register button, .datos button {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formulario-iniciar-sesion button:hover, .formulario-register button:hover, .datos button:hover {
    background-color: #0056b3;
}

/* ----------------------- 
   Datos 
----------------------- */
.container-datos {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.datos {
    background-color: var(--bg-color);
    color: var(--fuente-color);
    width: 100%;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.datos h1 {
    font-size: 1.8em;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}

.datos p {
    margin-bottom: 15px;
    font-size: 1em;
    color: #fff;
}

.datos p strong {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    color: #fff;
}

.datos input[type="text"],
.datos input[type="email"],
.datos input[type="tel"] {
    width: 100%; /* Ocupa todo el ancho */
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.datos input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.datos input[type="submit"]:hover {
    background-color: #0056b3;
}


.datos h2 {
    margin: auto;
    width: 90%;
}

.datos-opciones {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.datos-opciones a {
    width: 45%;
}

.editar-datos form {
    width: 100%;
}
.editar-datos p {
    width: 100%;
}

.datos-usuario {
    width: 100%;
    padding: 20px;
    background-color: #7c7c7c;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datos-usuario p {
    width: 50%;
}

/* ----------------------- 
   Video 
----------------------- */
.container-ver-video {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.flex-1{
    width: 67%;
}
.flex-2{
    width: 32%;
}
.container-ver-video h1 {
    font-size: 1.5rem;
}
.video-responsive {  
    width: 100%;
}
.iframe-container {
    position: relative;
    padding-top: 56.26%;
}
.iframe-container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
}

/* ----------------------- 
   Comments 
----------------------- */
.seccion-comentarios button {
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    border-radius: 30px;
    background-color: #007bff;
    color: var(--fuente-color);
    border: none;
}
.seccion-comentarios button:hover {
    background-color: #0056b3;
}

/* ----------------------- 
   Recomendadas Cards 
----------------------- */
.recomendadas {
    margin-bottom: 50px;
}
.recomendadas h2 {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
}
.recomendadas-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}
.recomendadas-cards .card {
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
    width: 100%;
    margin: 0;
}

/* ----------------------- 
   Listado todas 
----------------------- */
.container-lista-peliculas, .container-lista-series, .container-lista-cortos, .container-lista-documentales {
    margin-top: 20px;
    margin-bottom: 50px;
}

.listar-todas-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.listar-todas-cards .card {
    flex: 1 1 20%;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
    width: 100%;
    max-width: 268.4px;
    max-height: 300px;
    margin: 0;  
}

.card-title-lista {
    padding: 10px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
}

.slick-slide {
    height: auto;
}


/* ----------------------- 
   Media Queries 
----------------------- */

@media (min-width: 350px) and (max-width: 450px) {

    .peliculas, .series, .cortos, .documentales {
        width: 65%;
        margin: auto;
        margin-bottom: 50px;
    }


}


@media (min-width: 451px) and (max-width: 767px) {
    .search-container input {
        min-width: 100%;
    }

    .peliculas, .series, .cortos, .documentales {
        width: 95%;
        margin: auto;
        margin-bottom: 50px;
    }

    .listar-todas-cards .card-listar {
        flex: 1 1 40%;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 10px;
        width: 100%;
        margin: 0;
        max-height: 250px;
    }

    .formulario-register p, .formulario-iniciar-sesion p {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .datos h2 {
        margin: auto;
        width: 100%;
    }
    
    .datos-opciones {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    
    .datos-opciones a {
        width: 45%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .nav-item {
        min-width: 80%;
        margin: auto;
    }

    .peliculas, .series, .cortos, .documentales {
        width: 85%;
        margin: auto;
        margin-bottom: 50px;
    }

    .search-container {
        min-width: 80%;
        margin: auto;
    }

    .search-container input {
        min-width: 100%;
    }

    .listar-todas-cards .card-listar {
        flex: 1 1 40%;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 10px;
        width: 100%;
        margin: 0;
        max-height: 250px;
    }

    .container-iniciar-sesion, .container-register {
        padding: 10px;
    }

    .formulario-iniciar-sesion {
        width: 90%;
    }

    .formulario-register p, .formulario-iniciar-sesion p {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .datos h2 {
        margin: auto;
        width: 100%;
    }

    .datos-opciones {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .datos-opciones a {
        width: 45%;
    }

    .datos-usuario {
        width: 80%;
        padding: 20px;
        background-color: #7c7c7c;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .editar-datos form {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .editar-datos p {
        width: 80%;
    }

    #botonConfirmar{
        width: 80%;
    }

}

@media (width <= 1023px) {
    /* ----------------------- 
       Video 
    ----------------------- */
    .container-ver-video {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }

    .flex-1{
        width: 100%;
    }
    .flex-2{
        width: 100%;
    }

    .container-ver-video h1 {
        font-size: 1.5rem;
    }

    .video-responsive {
        width: 100%;
        height: 100%;
    }

    .iframe-container {
        position: relative;
        padding-top: 56.26%;
    }

    .video-responsive iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }

    /* ----------------------- 
       Comments 
    ----------------------- */
    .seccion-comentarios button {
        margin-top: 10px;
        width: 100%;
        padding: 5px;
        border-radius: 30px;
        background-color: #007bff;
        color: var(--fuente-color);
        border: none;
    }

    .seccion-comentarios button:hover {
        background-color: #0056b3;
    }

    /* ----------------------- 
       Recomendadas Cards 
    ----------------------- */
    .recomendadas {
        margin-bottom: 50px;
    }

    .recomendadas h2 {
        margin-top: 20px;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
    }

    .recomendadas-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;
    }

    .recomendadas-cards .card {
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 10px;
        width: 100%;
        margin: 0;
    }
}

@media (min-width: 1024px) {
    .peliculas, .series, .cortos, .documentales {
        width: 75%;
        margin: auto;
        margin-bottom: 50px;
    }

    .navbar-custom {
        margin-left: 10%;
        margin-right: 10%;
    }

    .carousel {
        height: 500px;
        overflow: hidden;
        margin-bottom: 50px;
    }

    .datos-usuario {
        width: 80%;
        padding: 20px;
        background-color: #7c7c7c;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .editar-datos form {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .editar-datos p {
        width: 80%;
    }

    #botonConfirmar{
        width: 80%;
    }
}

/* ----------------------- 
   Footer 
----------------------- */
footer {
    background-color: var(--bg-color);
}

/* ----------------------- 
   Social Media 
----------------------- */
.social-media {
    width: fit-content;
    height: 25px;
    object-fit: cover;
}

.error {
    background-color: #c40c15; 
    color: #fff;
    padding: 15px 25px; 
    border-radius: 5px;
    position: fixed; 
    text-align: center;
    transition: opacity 0.5s ease;
    width: 100%; /* Opcional: Ajustar el ancho */
    box-sizing: border-box;
}


#mensaje-temporal {
    position: fixed; 
    top: 10%;  /* Cambiado a la parte superior */
    left: 50%; 
    transform: translate(-50%, 0); 
    background-color: #d4edda; 
    color: #155724; 
    padding: 10px; 
    border-radius: 5px; 
    margin-bottom: 15px; 
    text-align: center;
    z-index: 1000;  /* Asegura que esté encima de otros elementos */
    transition: opacity 0.5s ease; /* Transición suave */
}