
/*GENERALES*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Arial;
    text-decoration: none;
}

.error {
	color: red;
	text-align: center;
}

span{
    font-size: 12px;    
}

.clearfix{
    clear: both;
    float: none;
}


.alerta{
    padding: 5px;
    font-size: 14px;
    color: white;
    background: green;
    box-shadow: 0px 1px 3px #ccc;
    margin-bottom: 15px;
    border-radius: 2px;
}

.alerta-error{
    background: red;
}

.fecha{
    color: #4e4e4e;
    margin-top:5px;
    font-size: 14px;
}

table{
	margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
	border: 4px solid #2979CD;
	width: 100%;
	text-align: center;
	background-color: #b6cee9;
}

th{
    background: black;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
}
th, td{
    border: 1px solid #000;
    font-family: Helvetica;
    width: 20%;    
}
td{
    padding: 6px;
}
th.ancho, td.ancho{
    width:40%
}


h1{
    font-size: 32px;
    color: #444;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #ccc;
}

h2{
    font-size: 20px;
    color: #2979CD;
    text-shadow: 1px 1px 2px #ccc;
    letter-spacing: 1px;
    margin-top: 25px;
}

p{
    margin-top: 8px;
}

a{
    display: block;
    border-radius: 2px;
    padding: 15px;
    color:white;
    background: #007ee5;
    border: 1px solid #156785;
    cursor:pointer;
    width: 160px;
    margin: 0px auto;
    margin-top:50px;
}
